<!doctype html>
<html>
 <title>SUM+MIT</title>
 <head>
   <link id = "main" rel="stylesheet" type="text/css" title="main" href="../static/css/main.css">
 </head>
 <body>
   <div class="biggest_element">
     <div class="main_element">
       <nav role="navigation">
         <div id="menuToggle">
           <input type="checkbox" />
           <span></span>
           <span></span>
           <span></span>
           <ul id="menu">
            <a href="/">Home</a>
            <a href="/about">About SUM+MIT</a>
            <a href="/team">Meet the Team</a>
            <a href="/contact">Contact Us</a>
          </ul>
        </div>
      </nav>
     </div>
     <div class="main_element">
       <div class = "title-container">
         <div class="sub_title">About</div>
         <img class= "container_title_image" src="../static/sum+mit_title.png"/>
       </div>
       <div id="about_par">
         SUM+MIT is a tool that performs image classification on any simple math equation given to it, and then proceeds to solve it. This includes addition, subtraction, multiplication, and division.
         <br />
         <br />
         SUM+MIT was created by the 2019 cohort of the Google Applied Machine Learning Intensive.
         The goal for project SUM+MIT was to put what the participants learned into practice. As such, team SUM+MIT decided to make a tool that performs image preprocessing on an equation, uses a convolutional neural network to perform classification, orders the predictions sequentially based on how the equation is written, and returns the solution to the equation.
         <br />
         <br />
         The repository for SUM+MIT can be found <a id="here" href="https://github.com/LizzetClifton/SUMMIT">here</a>.
       </div>
     </div>
