<!doctype html>
<html>
 <title>SUM+MIT</title>
 <head>
   <link id = "main" rel="stylesheet" type="text/css" title="main" href="../static/css/main.css">
 </head>
 <body>
   <div class="biggest_element">
     <div class="main_element">
       <nav role="navigation">
         <div id="menuToggle">
           <input type="checkbox" />
           <span></span>
           <span></span>
           <span></span>
           <ul id="menu">
            <a href="/">Home</a>
            <a href="/about">About SUM+MIT</a>
            <a href="/team">Meet the Team</a>
            <a href="/contact">Contact Us</a>
          </ul>
        </div>
      </nav>
     </div>
     <div class="main_element" id="contact_div">
       <div class = "title-container">
         <div class="sub_title">Contact</div>
         <img class = "container_title_image" src="../static/sum+mit_title.png"/>
       </div>
       <div id="sent_message" style="font-size:30px;
       font-family: Gotham, Arial, sans-serif;
       margin-top:100px;">Your message has been sent.</div>
       <form action="/contact", method="post">
         <button type="submit" value="new_eq" style="background-color: rgb(16, 115, 185);
         border: none;
         color: white;
         padding: 15px 32px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 16px;
         border-radius: 5px;
         font-family: Gotham, Arial, sans-serif;
         box-shadow: 5px 5px 10px rgba(5, 12, 28, 1);
         margin-top: 100px;">Send Another Message</button>
       </form>
     </div>
   </div>
 </body>
</html>
