<!doctype html>
<html>
 <title>SUM+MIT</title>
 <head>
   <link id = "main" rel="stylesheet" type="text/css" title="main" href="../static/css/main.css">
 </head>
 <body>
   <div class="biggest_element">
     <div class="main_element">
       <nav role="navigation">
         <div id="menuToggle">
           <input type="checkbox" />
           <span></span>
           <span></span>
           <span></span>
           <ul id="menu">
            <a href="/">Home</a>
            <a href="/about">About SUM+MIT</a>
            <a href="/team">Meet the Team</a>
            <a href="/contact">Contact Us</a>
          </ul>
        </div>
      </nav>
     </div>
     <div class="main_element">
       <div class = "title-container">
         <div class="sub_title">Meet the</div>
         <img class = "container_title_image_team" src="../static/sum+mit_title.png"/>
         <div class="sub_title">Team</div>
       </div>
       <div id="headshots">
         <div id="ale">
           <img class="prof" src="../static/alecav.png"/>
           <div class="info">
             Austin, TX
             <br />
             <br />
             University of Texas at Austin, Class of 2020
             <br />
             <br />
             Mathematics and Computer Science
           </div>
         </div>
         <div id="liz">
           <img class="prof" src="../static/liz.jpg"/>
           <div class="info">
             Houston, TX
             <br />
             <br />
             Duke University, Class of 2019
             <br />
             <br />
             Computer Science and Visual &amp; Media Studies
           </div>
         </div>
         <div id="chris">
          <img class="prof" src="../static/chris_orourke.png"/>
          <div class="info">
            Myrtle Beach, SC
            <br />
            <br />
            University of South Carolina, Class of 2018
            <br />
            <br />
            Computer Engineering
          </div>
         </div>
       </div>
     </div>
